.dropdown-menu {
  background-color: #383a40!important;
}

.dropdown-item {
  color: wheat;
}

.bg-dark {
  background-color: #0E0E0E !important;
}

.avg {
  font-weight: 900;
  font-size: 2vw;
}
.nav-color {
  color: wheat;
}

.nav-input {
  margin-left: 15%;
  margin-top: 0.45%;
  width: 30vw;
}

.nav-search {
  font-size: 1.2vw;
  font-weight: 700;
}

.nav-sign {
  font-size: 1.2vw;
  font-weight: 700;
  color: wheat;
}
