<nav class="navbar navbar-dark bg-dark navbar-expand-lg mb-0" style="border-radius: 0">
  <a class="avg nav-color" href="#">AVG Search</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown ml-5">
        <a class="nav-link dropdown-toggle btn-outline-secondary btn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: wheat; font-size: 1.2vw; font-weight: 700">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="nav-input form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="nav-search nav-color btn btn-outline-secondary my-2 my-sm-0" type="submit" routerLink="/movies">Search</button>
    </form>
  </div>
  <button type="button" class="nav-sign btn btn-outline-secondary">Sign in</button>

</nav>

