<nav class="navbar navbar-dark bg-dark navbar-expand-lg mb-0" style="border-radius: 0">
  <a class="avg nav-color" routerLink="/">AVG Search</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown ml-5">
        <a class="nav-link dropdown-toggle btn-outline-secondary btn"  data-toggle="dropdown" style="color: wheat; font-size: 1.2vw; font-weight: 700">
          Genres
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="movies?genre=thriller">Thriller</a>
          <a class="dropdown-item" href="movies?genre=comedy">Comedy</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown ml-5">
        <a class="nav-link dropdown-toggle btn-outline-secondary btn" data-toggle="dropdown" style="color: wheat; font-size: 1.2vw; font-weight: 700">
          Sort by
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="movies/sorted?by=rating">Rating</a>
          <a class="dropdown-item" href="movies/sorted?by=added">Relevance</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="nav-input form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="nav-search nav-color btn btn-outline-secondary my-2 my-sm-0" type="submit" routerLink="/movies">Search</button>
    </form>
  </div>

  <button type="button" class="nav-sign btn btn-outline-secondary" routerLink="/">Sign in</button>

</nav>

