<div style="background-color: #252424; min-height: 80%" *ngIf="movie">
  <div class="container" >
    <div class="w-100 row mt-5 mb-5 text-light" style="background-color: #161616">
      <div class="w-25 text-center">
        <div class="mt-5 mb-5">
          <h1>{{ movie.name }}</h1>
          <hr class="w-75">
        </div>
        <div class="mb-5">
          <img src="{{movie.imgUrl}}" width="95%">
        </div>
      </div>
      <div class="w-75">
        <div class="mt-5 mb-5 ml-5 text-center">
          <h1>Info</h1>
          <hr class="w-75">
        </div>
        <div class="ml-5 mr-5">
          <div class="mb-4">
            <p>{{movie.description}}</p>
          </div>
          <div class="mb-4">
            <p>Year : {{movie.year}}</p>
          </div>
          <div class="mb-4">
            <p>Duration : {{movie.duration}} min</p>
          </div>
          <div class="mb-4">
            <p>Genre : {{movie.genre}}</p>
          </div>
          <div class="mb-4">
            <p>Rating : {{movie.rating}}<span>☆</span></p>
          </div>
          <div class="mb-4">
            <p>Producer : {{movie.producer}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 mr-9  mt-5 mb-5 text-light">
      <h1 style="margin-left: 5px">Comments</h1>
      <hr>
      <div class=" w-50 mt-5 mb-2 comments-p card-body" style="border-radius: 10px; background-color: #161616;">
        <h3 class=" comments-h3">Leave your comment!</h3>
        <form #myform="ngForm">
          <div class="form-group">
            <input class="form-control" [(ngModel)]="username" name="username" id="username" placeholder="Enter username" >
            <br>
            <textarea class="form-control" style="height: 20vh" [(ngModel)]="commentText" id="commentText" name="commentText">
            </textarea>
<!--            <input class="btn btn-dark mt-5" type="submit" (click)="onSubmit()">-->
            <a type="submit" class="btn btn-dark mt-3"  (click)="onSubmit()" style="color: wheat"
               href="movies/details?id={{movie.id}}">Post</a>
          </div>
        </form>
      </div>
        <div class="w-50 mt-5 mb-5 comments-p" style="border-radius: 10px; background-color: #161616;" *ngFor="let comment of movie.comments;">
          <div class="row w-100 ml-3 text-muted">
            <div class="w-75 mt-3 text-left">
              <h5><b>{{comment.userName + ":"}}</b></h5>
            </div>
            <div class="w-25 text-right">
              <div>
                <a type="submit" class="mr-3 btn btn-danger btn-sm active" style="border-radius: 7px" (click)="onDelete(comment.id)"
                   href="movies/details?id={{movie.id}}">×</a>
              </div>
<!--              <button type="submit" class="mr-4 close text-danger">-->
<!--                ×-->
<!--              </button>-->
            </div>
          </div>
          <div class="ml-5">
            <p>{{comment.commentText}}</p>
          </div>
        </div>
      </div>
    </div>
</div>


