<div style="background-color: #252424; min-height: 80%" *ngIf="movie">
  <div class="container" >
    <div class="w-100 row mt-5 mb-5 text-light" style="background-color: #161616">
      <div class="w-25 text-center">
        <div class="mt-5 mb-5">
          <h1>{{ movie.name }}</h1>
          <hr class="w-75">
        </div>
        <div class="mb-5">
          <img src="{{movie.imgUrl}}" width="95%">
        </div>
      </div>
      <div class="w-75">
        <div class="mt-5 mb-5 ml-5 text-center">
          <h1>Info</h1>
          <hr class="w-75">
        </div>
        <div class="ml-5 mr-5">
          <div class="mb-4">
            <p>{{movie.description}}</p>
          </div>
          <div class="mb-4">
            <p>Year : {{movie.year}}</p>
          </div>
          <div class="mb-4">
            <p>Duration : {{movie.duration}} min</p>
          </div>
          <div class="mb-4">
            <p>Genre : {{movie.genre}}</p>
          </div>
          <div class="mb-4">
            <p>Rating : {{movie.rating}}<span>☆</span></p>
          </div>
          <div class="mb-4">
            <p>Producer : {{movie.producer}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 mr-9  mt-5 mb-5 text-light">
      <h1 style="margin-left: 5px">Comments</h1>
      <hr _ngcontent-lkw-c46="" >
      <div class="w-50 mt-5 mb-5 comments-p" style="border-radius: 10px; background-color: #161616;" *ngFor="let comment of movie.comments">
        <div class="ml-1 text-muted">
          <b>{{comment.userName + ":"}}</b>
        </div>
        <div class="ml-2">
          {{comment.commentText}}
        </div>
      </div>
    </div>
  </div>
</div>


