<div class="carousel-inner homepage pt-5">


  <div *ngIf="genre" class="container text-center mb-5">
    <p class="genre">All movies in {{genre.toLowerCase()}} genre.</p>
  </div>

  <div class="container text-center text-light mb-5" *ngIf="!this.genre&&!this.find">
    <form>
      <div class=" row-col-3">
        <select class="custom-select w-25 mr-5 text-center" [(ngModel)]="sorting" name="sorting" id="sorting"
                style="height: 2vw">
          <option value="name" name="name">Name</option>
          <option value="relevance" name="relevance">Relevance</option>
          <option value="rating" name="rating">Rating</option>
          <option value="year" name="year">Year</option>
        </select>
        <select class="custom-select w-25 mr-5 text-center" [(ngModel)]="order" id="order" name="order"
                style="height: 2vw">
          <option value="asc" name="asc">Ascending</option>
          <option value="desc" name="desc">Descending</option>
        </select>
        <a type="submit" class="btn btn-dark" style="color: wheat" (click)="getMoviesData()"
           href="movies/sorted?by={{sorting}}&order={{order}}">Sort</a>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-md-3" *ngFor="let movie of pages[pageNow]">
      <div class="item-box-blog filmCard">
        <div class="item-box-blog-image">
          <div class="item-box-blog-date bg-blue-ui white pr-3 pl-3 pb-0 pt-0">
            <span class="mon"><img alt="" class="star" src="https://pngimg.com/uploads/star/star_PNG41468.png"><p
              class="rating"> {{movie.rating}}</p></span></div>
          <figure><img alt="" src="{{movie.imgUrl}}"></figure>
        </div>
        <div class="item-box-blog-body">
          <div class="item-box-blog-heading">
            <a tabindex="0" href="movies/details?id={{movie.id}}">
              <h3 class="filmName">{{movie.name}}</h3>
            </a>
          </div>
          <div class="item-box-blog-text filmDescription">
            <p>{{movie.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="pageSelectorNav text-center">
    <ul class="pagination">
      <li>
        <a class="pageSelector btn" (click)="pageMoving('Previous')">
          <span class="pageSelector">&laquo;</span>
        </a>
      </li>
      <li><a class="pageSelector">{{pageNow + 1}}</a></li>
      <li>
        <a class="pageSelector btn" (click)="pageMoving('Next')">
          <span class="pageSelector">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>


