<div class="carousel-inner homepage pt-5">
  <div class="carousel-item active">
    <div class="row">
      <div class="col-md-4 myCol" *ngFor="let movie of moviesList">
        <div class="item-box-blog filmCard">
          <div class="item-box-blog-image">
            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">New</span> </div>
            <figure> <img alt="" src="{{movie.img}}"> </figure>
          </div>
          <div class="item-box-blog-body">
            <div class="item-box-blog-heading">
              <a href="#" tabindex="0">
                <h3 class="filmName">{{movie.name}}</h3>
              </a>
            </div>
            <div class="item-box-blog-text filmDescription">
              <p>{{movie.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
