<div style="background-color: #252424; min-height: 80%">
  <div class="container">
    <div class="text-center text-light">
      <div class="form mt-5 mb-5" style="background-color: #161616">
        <h1 class="mb-5">Registration</h1>

        <form class="text-dark">
          <input type="text" placeholder="name" required/>
          <input type="password" placeholder="password" required/>
          <button type="submit">create</button>
          <p class="message">Already registered? <a routerLink="/login">Sign In</a></p>
        </form>

      </div>
    </div>
  </div>
</div>
